@media (max-width: 1279px)
{
    /*---------------
	    Main styles
	---------------*/
    :root
    {
        --aside_width: 320px;
        --font_size_title: 42px;
    }



    .block_head
    {
        margin-bottom: 35px;
    }



    .text_block .big
    {
        font-size: 17px;
        line-height: 25px;
    }

    .text_block h2
    {
        font-size: 28px;
    }

    .text_block .cols .col
    {
        width: calc(50% - 10px);
    }

    .text_block ul li + li,
    .text_block ol li + li
    {
        margin-top: 10px;
    }

    .text_block blockquote,
    .text_block q
    {
        width: calc(100% - 40px);
        margin: 40px 0 40px 40px;
        padding: 40px;
    }

    .text_block blockquote .text,
    .text_block q .text
    {
        font-size: 20px;
        line-height: 30px;
    }

    .text_block table th,
    .text_block table td
    {
        line-height: 20px;

        padding: 15px 20px;
    }



    .form .submit .agree
    {
        max-width: calc(100% - 200px);
    }



    .content_flex .content
    {
        width: calc(100% - var(--aside_width) - 40px);
    }



    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next
    {
        width: 66px;
        height: 66px;
        margin-top: -33px;
    }

    .owl-carousel .owl-nav button.owl-prev
    {
        left: 20px;

        margin-left: 0;
    }

    .owl-carousel .owl-nav button.owl-next
    {
        right: 20px;

        margin-right: 0;
    }

    .owl-carousel .owl-nav button.owl-prev:before,
    .owl-carousel .owl-nav button.owl-next:before
    {
        width: 18px;
        height: 18px;
        margin-top: -9px;

        border-width: 2px;
    }

    .owl-carousel .owl-nav button.owl-prev:before
    {
        margin-left: -5px;
    }

    .owl-carousel .owl-nav button.owl-next:before
    {
        margin-right: -5px;
    }



    /*---------------
		Header
	---------------*/
    header .info
    {
        padding: 25px 0;
    }


    header .logo a,
    header .logo img
    {
        height: 60px;
    }


    header .contacts
    {
        padding-left: 0;
    }

    header .contacts:before
    {
        display: none;
    }


    header .adres
    {
        display: none;

        margin-left: 20px;
        padding-left: 0;
    }

    header .adres:before
    {
        display: none;
    }



    /*---------------
		Sidebar
	---------------*/
    aside .service_inform
    {
        font-size: 20px;
        line-height: 24px;
    }

    aside .service_inform .link
    {
        margin-top: 25px;
    }



    /*---------------
		Main section
	---------------*/
    .main_slider .slide .cont
    {
        min-height: 440px;
    }

    .main_slider .slide .info
    {
        font-size: 15px;
        line-height: 23px;

        width: 580px;
        padding: 0 130px;
    }

    .main_slider .slide .title
    {
        font-size: 32px;
        line-height: 36px;
    }



    .projects .flex
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .projects .flex > *
    {
        width: calc(25% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .projects .project .info
    {
        padding: 15px;
    }

    .projects .project .name
    {
        font-size: 17px;
        line-height: 21px;
    }

    .projects .project .desc
    {
        line-height: 20px;
    }



    .services .flex
    {
        margin-bottom: -40px;
        margin-left: -20px;
    }

    .services .flex > *
    {
        width: calc(16.666% - 20px);
        margin-bottom: 40px;
        margin-left: 20px;
    }


    .services .service
    {
        font-size: 17px;
        line-height: 21px;
    }

    .services .service .icon
    {
        width: 100px;
        height: 100px;
    }



    .about .advantages
    {
        padding: 30px 40px;
    }

    .about .advantages .item
    {
        font-size: 15px;
        line-height: 19px;
    }

    .about .advantages .item + .item
    {
        margin-top: 15px;
    }



    .news .flex
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .news .flex > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .news .item .info
    {
        padding: 20px;
    }

    .news .item .name
    {
        font-size: 17px;
        line-height: 21px;
    }

    .news .item .desc
    {
        line-height: 20px;
    }



    .articles .flex
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .articles .flex > *
    {
        width: calc(25% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .articles .article .info
    {
        padding: 15px;
    }

    .articles .article .desc
    {
        line-height: 20px;
    }



    .clients .item
    {
        height: 100px;
    }

    .clients .owl-carousel .owl-nav button.owl-prev
    {
        left: -5px;
    }

    .clients .owl-carousel .owl-nav button.owl-next
    {
        right: -5px;
    }



    .about_info
    {
        --aside_width: 320px;
    }

    .about_info .content
    {
        width: calc(100% - var(--aside_width) - 40px);
    }


    .about_info .advantages
    {
        padding: 30px;
    }

    .about_info .advantages .item
    {
        font-size: 14px;
        line-height: 20px;
    }



    .contacts_info .info
    {
        padding: 45px;
    }

    .contacts_info .info .val
    {
        font-size: 20px;
        line-height: 26px;
    }


    .contacts_info .feedback
    {
        padding: 35px 45px 40px;
    }



    .project_info
    {
        --aside_width: 320px;
    }

    .project_info .content
    {
        width: calc(100% - var(--aside_width) - 40px);
    }


    .project_info .inform
    {
        padding: 20px;
    }

    .project_info .inform .title
    {
        font-size: 17px;
        line-height: 21px;

        margin-bottom: 20px;
    }

    .project_info .inform .cat
    {
        margin-bottom: 20px;
    }

    .project_info .inform .item
    {
        font-size: 15px;
        line-height: 21px;
    }

    .project_info .inform .item + .item
    {
        margin-top: 10px;
    }

    .project_info .inform .name
    {
        width: 85px;
    }

    .project_info .inform .val
    {
        width: calc(100% - 85px);
    }



    .services .list
    {
        margin-bottom: -60px;
        margin-left: -40px;
    }

    .services .list .service
    {
        font-size: 15px;
        line-height: 23px;
    }

    .services .list > *
    {
        width: calc(50% - 40px);
        margin-bottom: 60px;
        margin-left: 40px;
    }

    .services .list .service .icon
    {
        width: 130px;
        height: 130px;
        margin: 10px;
        padding: 25px;
    }

    .services .list .service .icon:before
    {
        top: -10px;
        left: -10px;

        width: calc(100% + 20px);
        height: calc(100% + 20px);
    }

    .services .list .service .info
    {
        width: calc(100% - 170px);
    }

    .services .list .service .name
    {
        font-size: 22px;

        margin-bottom: 15px;
    }



    .share
    {
        font-size: 17px;

        padding: 25px;
    }



    .all
    {
        margin-top: 40px;
    }



    /*---------------
		Footer
	---------------*/
    footer .info
    {
        padding: 35px 0;
    }

    footer .bottom
    {
        padding: 25px 0;
    }



    footer .logo img
    {
        height: 60px;
    }


    footer .contacts
    {
        padding-left: 0;
    }

    footer .contacts:before
    {
        display: none;
    }


    footer .adres
    {
        display: none;

        margin-left: 20px;
        padding-left: 0;
    }

    footer .adres:before
    {
        display: none;
    }
}
